.batchContainer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.batchElement {
    float: left;
    margin: 20px
}

/* .createBatch {
    position: relative;
    align-content: center;
    align-items: center
} */

