table {
    position: relative;
    margin-top: 20px;
    border-spacing: 5px;
    padding: 15px;
}

.greenTable {
    background-color: green;
    height: 30px;
    width: 60px
    
}

.yellowTable {
    background-color: yellow;
    height: 30px;
    width: 60px

}

.redTable {
    background-color: red;
    height: 30px;
    width: 60px
}

.batchLevelOverview {
    align-self: center
}

.studentElement {
    float: left;
    margin: 20px
}

.studentsListContainer {
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

.askQuestion {
    margin-top: 20px;
    margin-bottom: 40px
}